
<!doctype html>
<html lang="en">
  <head>
    <title>Indefatigable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/quill.snow.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="applicanthome">Indefatigable</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

              <li><a href="candidate_profile" class="nav-link">Profile</a></li>
                <li><a href="show_schedule">Interview Schedule</a></li>
              <li><a href="faq" class="nav-link">Faq</a></li>
              <li><a href="job_available" >Jobs Available</a></li>
              <li class="has-children">
                <a href="show_notification">Pages</a>
                <ul class="dropdown">
                  <li><a href="show_notification">Notification</a></li>
                  <li><a href="show_link">Test link</a></li>


                </ul>
              </li>
              <li><a href="support">Support</a></li>


            </ul>
          </nav>



          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">

              <a href="login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 "></span>Log out</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- HOME -->

    <section class="section-hero overlay inner-page bg-image" style="background-image: url('../static/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Create Profile</h1>
            <div class="custom-breadcrumbs">
              <a href="applicanthome">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Profile</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section services-section bg-light block__62849" id="next-section">
      <div class="container">

        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">


                <div class="card mt-100">
                    <div class="card" style="width: 70rem;">
                    <div class="card-body">
                        <form class="form" method="post" action="create_profile" enctype="multipart/form-data">
                            <label>Name</label>
                            <input type="text" name="T1" id="T1" class="form-control"><br>

                            <label>Address</label><br>
                            <input type="text" name="T2" id="T2" class="form-control"><br>
                            <label>Qualification</label>
                            <input type="text" name="T3" id="T3" class="form-control"><br>
                            <label>Skills</label>
                            <input type="text" name="T4" id="T4" class="form-control"><br>
                            <label>12th Marks</label>
                            <input type="number" step="0.01" name="T4" id="T4" class="form-control"><br>
                            <label>10th marks</label>
                            <input type="number"  step="0.01" name="T5" id="T5" class="form-control"><br>
                                <label>Upload Photo</label>
                                <input type="file" name="F1" id="F1" class="form-control"><br>
                            <input type="submit" name="B1" id="B1"class="btn btn-primary btn-block btn-lg" value="Confirm">
                        </form>
                    </div>
                </div>


                    {% if data %}
                  <h3>{{data}}</h3>
                  {% endif %}
            </div>



          </div>
        </div>
      </div>
    </section>

     <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">

          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="about">About Us</a></li>

            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="support">Support</a></li>
              <li><a href="about">Privacy</a></li>
              <li><a href="about">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
           <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>

  </div>

    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/stickyfill.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>

    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/quill.min.js"></script>


    <script src="../static/js/bootstrap-select.min.js"></script>

    <script src="../static/js/custom.js"></script>



  </body>
</html>