<!doctype html>
<html lang="en">
  <head>
    <title>Indefatigable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/quill.snow.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="recruiterhome">Indefatigable</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li class="has-children">
                <a href="show_applications">Applications</a>
                <ul class="dropdown">
                  <li><a href="show_applications">Applications</a></li>
                  <li><a href="applicantprofile">Applicant Profile</a></li>
                  <li><a href="candidate_scorecard">Scorecard</a></li>
                </ul>
              </li>
              <li><a href="schedule">Post Schedule</a></li>
              <li class="has-children">
                <a href="jobs_posted">Job Listings</a>
                <ul class="dropdown">
                  <li><a href="jobs_posted">Job posted</a></li>
                  <li><a href="post_vaccancies">Post a Job</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="post_notification">Pages</a>
                <ul class="dropdown">
                  <li><a href="post_notification">Send Notification</a></li>
                  <li><a href="provide_test_link">Provide test link</a></li>


                </ul>
              </li>
              <li><a href="support_recruiter">Support</a></li>


            </ul>
          </nav>


          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">

              <a href="login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 "></span>Log out</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('../static/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Post schedule</h1>
            <div class="custom-breadcrumbs">
              <a href="recruiterhome">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>schedule</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="mb-4">Schedule of interview</h2>
            <form method="post" action="schedule" class="p-4 border rounded">

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black">Timing</label>
                  <input type="text" name="T1" id="T1" class="form-control" placeholder="HH:MM:SS">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" >Date</label>
                  <input type="text" name="T2" id="T2" class="form-control" placeholder="YYYY-MM-DD">
                </div>
              </div>
              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" >Venue</label>
                  <input type="text" name="T3" id="T3" class="form-control" placeholder="Venue">
                </div>
              </div>
                <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" >Email</label>
                  <input type="text" name="T4" id="T5" class="form-control" placeholder="eg. abc@email.com">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" name="B1" id="B1" value="Post" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>
          </div>

        </div>
        {% if kota %}
          <h3>{{kota}}</h3>
          {% endif %}
      </div>

    </section>



    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/stickyfill.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>

    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.animateNumber.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/quill.min.js"></script>


    <script src="../static/js/bootstrap-select.min.js"></script>

    <script src="../static/js/custom.js"></script>


</div>
  </body>
</html>